body {
    font-family: sans-serif;
    background: #253b51;
    color:white;
}
/* menu */
navbar-nav{
    background-color: lightblue;
    color:white;
}

.invalid-feedback, .form-text{
    color:lightcoral;
}

.price, p, .card{
    color:black;
}

.logo{
    text-align: center;
}

center{
    margin: 25px;
}